.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	align-items: center;
	justify-content: space-between;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo-content {
	display: flex;
}

.todo-content .content {
	margin-left: 5px;
	user-select: none;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-content .content:hover {
	cursor: pointer;
}

.todos form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todo-input {
	display: block;
	width: 95%;
	padding: 10px 15px;
	appearance: none;
	border: solid 2px #7c7c7c;
	border-radius: 5px;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 1em;
	outline: none;
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 5px;

	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 1.2em;
	font-weight: 600;
}

.todo-submit.disabled {
	background-color: #7c7c7c;
	cursor: not-allowed;
}

.delete {
	display: block;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 5px;

	background-color: #FE4880;
	color: #FFF;
	opacity: .5;

	padding: .5rem;
}

.delete:hover{
	opacity: 1;
}