.todo-input {
	display: block;
	width: 95%;
	padding: 10px 15px;
	appearance: none;
	border: solid 2px #7c7c7c;
	border-radius: 5px;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 1em;
	outline: none;
	color: #4a4a4a;
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 5px;

	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 1.2em;
	font-weight: 600;
}

.todo-submit.disabled {
	background-color: #7c7c7c;
	cursor: not-allowed;
}

.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	align-items: center;
	justify-content: space-between;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo-content {
	display: flex;
}

.id {
	display: none;
}

.checkbox {
	all: unset;
	position: relative;
	display: inline-block;
	border: solid 1px #CCC;
	width: 20px;
	height: 20px;
	background: #EEE;
	border-radius: 5px;
	cursor: pointer;
}

.checkbox:checked {
	background-color: #FE4880;
}

.checkbox:checked::after {
	content: "";
	position: absolute;
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.todo-content .content {
	margin-left: 10px;
	user-select: none;
	color: #4a4a4a;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-content .content:hover {
	cursor: pointer;
}

.todos form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.delete {
	display: block;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 5px;

	background-color: #FE4880;
	color: #FFF;
	opacity: .7;

	padding: .5rem;
	cursor: pointer;
}

.delete:hover {
	opacity: 1;
}